<div #containerDOM class="container">
    <div class="no-border adjust" style="margin-top: -1px;">
      <div class="no-border" *ngFor="let m of getMatrix(); let i = index">
        <div class="no-border" *ngFor="let m of getMatrix(); let j = index">
          <div class="no-border" *ngIf="getMatrixValue(i, j)">
            <app-nblock-2 [x]='i' [y]='j' [follow]='false'></app-nblock-2>
          </div>
        </div>
      </div>
    </div>
    <div class="no-border adjust" style="margin-top: -2px;">
      <app-pblock-2></app-pblock-2>
      <div class="no-border" *ngIf="largerGroup()" [ngSwitch]="groupPattern()">
        <!-- Grupos iniciais -->
        <!-- O -->
        <div class="no-border" *ngSwitchCase='1'>
          <app-nblock-2 [x]='0' [y]='-1' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='1' [y]='0' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='1' [y]='-1' [follow]='true'></app-nblock-2>
        </div>
        <!-- Z -->
        <div class="no-border" *ngSwitchCase='2'>
          <app-nblock-2 [x]='0' [y]='-1' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='1' [y]='0' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='-1' [y]='-1' [follow]='true'></app-nblock-2>
        </div>
        <!-- S -->
        <div class="no-border" *ngSwitchCase='3'>
          <app-nblock-2 [x]='0' [y]='-1' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='-1' [y]='0' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='1' [y]='-1' [follow]='true'></app-nblock-2>
        </div>
        <!-- ¬ -->
        <div class="no-border" *ngSwitchCase='4'>
          <app-nblock-2 [x]='-1' [y]='0' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='1' [y]='0' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='1' [y]='1' [follow]='true'></app-nblock-2>
        </div>
        <!-- L -->
        <div class="no-border" *ngSwitchCase='5'>
          <app-nblock-2 [x]='-1' [y]='0' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='1' [y]='0' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='-1' [y]='1' [follow]='true'></app-nblock-2>
        </div>
        <!-- T -->
        <div class="no-border" *ngSwitchCase='6'>
          <app-nblock-2 [x]='-1' [y]='0' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='1' [y]='0' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='0' [y]='1' [follow]='true'></app-nblock-2>
        </div>
        <!-- I -->
        <div class="no-border" *ngSwitchCase='7'>
          <app-nblock-2 [x]='-1' [y]='0' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='1' [y]='0' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='2' [y]='0' [follow]='true'></app-nblock-2>
        </div>
        <!-- Grupos rotacionados -->
        <!-- Z (rot-1) -->
        <div class="no-border" *ngSwitchCase='8'>
          <app-nblock-2 [x]='0' [y]='-1' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='-1' [y]='0' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='-1' [y]='1' [follow]='true'></app-nblock-2>
        </div>
        <!-- S (rot-1) -->
        <div class="no-border" *ngSwitchCase='9'>
          <app-nblock-2 [x]='0' [y]='-1' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='1' [y]='0' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='1' [y]='1' [follow]='true'></app-nblock-2>
        </div>
        <!-- ¬ (rot-1) -->
        <div class="no-border" *ngSwitchCase='10'>
          <app-nblock-2 [x]='0' [y]='1' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='0' [y]='-1' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='1' [y]='-1' [follow]='true'></app-nblock-2>
        </div>
        <!-- ¬ (rot-2) -->
        <div class="no-border" *ngSwitchCase='11'>
          <app-nblock-2 [x]='1' [y]='0' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='-1' [y]='0' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='-1' [y]='-1' [follow]='true'></app-nblock-2>
        </div>
        <!-- ¬ (rot-3) -->
        <div class="no-border" *ngSwitchCase='12'>
          <app-nblock-2 [x]='0' [y]='-1' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='0' [y]='1' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='-1' [y]='1' [follow]='true'></app-nblock-2>
        </div>
        <!-- L (rot-1) -->
        <div class="no-border" *ngSwitchCase='13'>
          <app-nblock-2 [x]='0' [y]='-1' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='0' [y]='1' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='1' [y]='1' [follow]='true'></app-nblock-2>
        </div>
        <!-- L (rot-2) -->
        <div class="no-border" *ngSwitchCase='14'>
          <app-nblock-2 [x]='1' [y]='0' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='-1' [y]='0' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='1' [y]='-1' [follow]='true'></app-nblock-2>
        </div>
        <!-- L (rot-3) -->
        <div class="no-border" *ngSwitchCase='15'>
          <app-nblock-2 [x]='-1' [y]='-1' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='0' [y]='-1' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='0' [y]='1' [follow]='true'></app-nblock-2>
        </div>
        <!-- I (rot-1) -->
        <div class="no-border" *ngSwitchCase='16'>
          <app-nblock-2 [x]='0' [y]='-2' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='0' [y]='-1' [follow]='true'></app-nblock-2>
          <app-nblock-2 [x]='0' [y]='1' [follow]='true'></app-nblock-2>
        </div>
      </div>
    </div>
</div>
