<div #containerDOM class="container">
    <div class="adjust" style="margin-top: -1px;">
      <div class="invisible" *ngFor="let m of getMatrix(); let i = index">
        <div class="invisible" *ngFor="let m of getMatrix(); let j = index">
          <div class="invisible" *ngIf="getMatrixValue(i, j)">
            <app-nblock-1 [x]='i' [y]='j' [follow]='false'></app-nblock-1>
          </div>
        </div>
      </div>
    </div>
    <div class="adjust" style="margin-top: -2px;">
      <app-pblock-1></app-pblock-1>
    </div>
</div>
