body {
    background-color: black;
}

ul {
    list-style: none;
}
  
li::before {
    content: "• ";
    color: white;
}

a {
    color: white;
}

div {
    border: 1px solid white;
    text-align: center;
}

div.container {
    position: relative;
    margin:0 auto;
}

div.square {
    position: absolute;
    background-color: gray;
}

div.adjust {
    margin-left: -1px;
}

div.no-border {
    border: none;
}
